h1
    color: $color-accent
#document-header
    .logo
        margin-left: -18px
        @include media-breakpoint-up(desktop)
            margin-left: -30px
footer#document-footer
    .footer-site
        display: none
    @include media-breakpoint-up(desktop)
        .container
            justify-content: center
        .footer-legals
            .footer-credit,
            .nav-legal li,
            .nav-legal 
                display: inline-block
            .nav-legal li
                margin-right: $spacing-3